version: "3.8"
services:
  postgres-db:
    image: postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: autoShipDB
    container_name: postgres-db

  api:
    build:
      context: api/
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-db:5432/autoShipDB
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=admin
      - GITHUB-CLIENT-ID=
      - GITHUB-CLIENT-SECRET=
      - CLIENT-URL=http://localhost:5321
      - WEBHOOK-URL=https://aserti.com/webhook
    container_name: api-backend
    depends_on:
      - postgres-db