version: "3.8"
services:
  postgres-db:
    image: postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: autoShipDB
    container_name: postgres-db
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    image: abdo001/autoship:backv1.4
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-db:5432/autoShipDB
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=admin
      - GITHUB-CLIENT-ID=
      - GITHUB-CLIENT-SECRET=
      - CLIENT-URL=
      - WEBHOOK-URL=
    container_name: api-backend
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ~/.m2:/root/.m2
      - ./scripts/:/scripts
    privileged: true
    depends_on:
      - postgres-db

volumes:
  postgres_data:
    driver: local
